@use "../mixins" as mixin;

.footer {
  height: 100px;
  position: relative;

  @include mixin.xs {
    height: 109px;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid var(--gray-3);
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px 60px;
    background-color: var(--background);

    @include mixin.lg-lt {
      padding: 30px;
    }
    @include mixin.xs {
      padding: 30px;
    }

    &__mark {
      & img {
        width: 35px;
        @include mixin.xs {
          width: 25px;
        }
      }
    }
    &__chart {
      & img {
        width: 150px;
        @include mixin.xs {
          width: 125px;
        }
      }
    }
  }
}
