@use "../anim";
@use "../mixins" as mixin;

.header {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--background);

  @include mixin.lg-lt {
    padding: 30px 40px;
  }
  @include mixin.lg-lt {
    padding: 30px;
  }
  @include mixin.xs {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  &__titlebox {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 32px;
    line-height: 0.8;
    padding-top: 12px;
    display: flex;
    gap: 12px;
    overflow: hidden;

    &__year {
      & span {
        font-size: 30px;
      }
    }
  }

  &__right {
    display: flex;
    gap: 30px;

    @include mixin.xs {
      flex-direction: column;
      align-items: center;
    }

    &__box {
      width: 138px;
    }
    &__cvbox {
      overflow: hidden;

      &__cv {
        overflow: hidden;

        font-family: var(--font-title);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 43px;
        height: 45px;
        border: 1px solid var(--gray-3);
        background-color: var(--primary);
        display: block;
        border-radius: 35px;
        &:hover {
          cursor: pointer;
          background-color: var(--secondary);
        }

        @include mixin.xs {
          display: none;
        }
      }
    }
  }
}
.border {
  width: 100%;
  border-bottom: 1px solid var(--gray-3);
}
