@use "../anim";

.nav {
  margin-bottom: 40px;
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    &__name {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .nav-active {
    position: relative;
    @include anim.animation-line-after;
  }
}
