@use "../mixins" as mixin;

.intro-main {
  height: 100%;

  @include mixin.xl-lt {
    display: flex;
  }
}
.intro-container {
  border-right: 1px solid var(--gray-3);
  width: 320px;
  height: 100%;
  @include mixin.xl-lt {
    border-right: none;
    width: 50%;
    display: flex;
  }
  @include mixin.md {
    border-right: none;
    width: 340px;
    display: flex;
  }
  @include mixin.sm {
    border-right: none;
    width: 310px;
    display: flex;
  }

  @include mixin.xs {
    width: 100%;
  }
}

.home__intro {
  background: linear-gradient(to bottom, white, var(--primary) 70%);
  padding: 20px 60px;
  height: 100%;

  @include mixin.xl-lt {
    border-right: 1px solid var(--gray-3);
    margin: auto;
    height: auto;
    padding: 40px;
  }
  @include mixin.md {
    padding: 20px 30px;
  }
  @include mixin.xs {
    border-right: none;
  }

  &__pic {
    margin: auto;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixin.xl-lt {
      height: 190px;
    }

    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-family: var(--font-family);
    font-size: 23px;
    font-weight: 700;
    padding-top: 10px;
    @include mixin.xl-lt {
      text-align: center;
    }
  }
  &__position {
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;

    @include mixin.xl-lt {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__text {
    overflow: hidden;
    font-size: 14px;
    margin: 10px 0 30px 0;
    height: 170px;

    @include mixin.xl-lt {
      height: 130px;
    }
    @include mixin.md-lt {
      margin: 0;
    }
  }
  &__city {
    font-size: 18px;
    font-weight: 500;
  }
  &__contact {
    font-size: 14px;
  }
  &__socials {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    & i {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 1px solid;
      border-radius: 50%;
      padding: 15px;

      &:hover {
        cursor: pointer;
        background-color: var(--gray-2);
        color: var(--gray-3);
      }
    }
  }

  &__cv a {
    display: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    padding: 8px 0;
    border: 1px solid var(--gray-3);
    border-radius: 30px;
    &:hover {
      cursor: pointer;
      background-color: var(--gray-2);
      color: var(--gray-3);
    }
    @include mixin.xs {
      display: block;
    }
  }
}
.resp-title {
  display: none;
  @include mixin.xl-lt {
    display: block;
    flex-grow: 1;
  }
  @include mixin.xs {
    display: none;
  }
}
