@use "../mixins" as mixin;

.home__intro {
  width: 250px;
  height: 680px;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 25px 25px 0 0;

  @include mixin.xxl-lt {
    margin: auto;
    width: 70%;
    height: auto;
    padding: 20px;
    border-radius: 25px;
  }
  @include mixin.sm {
    margin: auto;
    width: 70%;
    height: auto;
    padding: 60px;
  }
  @include mixin.xs {
    margin: auto;
    width: 90%;
    height: auto;
    padding: 60px;
  }
  &__pic {
    margin: auto;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixin.xxl-lt {
      height: 190px;
    }

    @include mixin.sm {
      height: 290px;
    }
    @include mixin.xs {
      height: 290px;
    }

    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
  }
  &__position {
    font-size: 16px;
    font-weight: 500;
  }
  &__text {
    font-size: 14px;
    margin: 10px 0 30px 0;
  }
  &__city {
    font-size: 18px;
    font-weight: 500;
  }
  &__contact {
    font-size: 14px;
  }
  &__socials {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    & i {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 1px solid;
      border-radius: 50%;
      padding: 15px;

      &:hover {
        cursor: pointer;
        background-color: var(--gray-2);
        color: var(--gray-3);
      }
    }
  }

  &__cv {
    display: none;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    padding: 4px 0;
    border: 1px solid var(--gray-3);
    border-radius: 12px;
    &:hover {
      cursor: pointer;
      background-color: var(--gray-2);
      color: var(--gray-3);
    }
    @include mixin.sm-lt {
      display: block;
    }
  }
}
