.workslinks {
  //   position: relative;
  width: 100%;
  &__box {
    display: flex;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    margin-bottom: -46px;
    background-color: white;
    &__name {
      margin: 0px;
      font-size: 5vw;
      padding-left: 40px;
      text-transform: uppercase;
      pointer-events: none;
    }
    &__tag {
      pointer-events: none;
      display: flex;
      gap: 10px;
      margin: 35px 0 0 15px;
      &__name {
        height: 25px;
        padding: 1px 10px;
        border-radius: 12px;
        border: 1px solid var(--gray-3);
        line-height: 22px;
      }
    }
  }
}
