.workslinks {
  //   position: relative;
  width: 100%;
  &__box {
    display: flex;
    border-top: 1px solid black;
    cursor: pointer;
    position: relative;
    margin-bottom: -46px;
    background-color: white;
    color: var(--gray-3);

    &__name {
      margin: 0px;
      font-size: 5vw;
      padding-left: 40px;
      text-transform: uppercase;
      pointer-events: none;
    }
    &__tag {
      display: flex;
      gap: 10px;
      margin: 35px 0 0 15px;
      pointer-events: none;
      &__name {
        height: 25px;
        padding: 1px 10px;
        border-radius: 12px;
        border: 1px solid var(--gray-3);
        line-height: 22px;
      }
    }
    &__imagebox {
      height: 95px;
      pointer-events: none;
      position: relative;
      top: 105px;
      margin-left: 30px;
      transition: top 0.5s ease-in-out 0.1s;

      & img {
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}

.workslinks__box:hover .workslinks__box__imagebox {
  top: 10px;
}
.workslinks__box:hover .workslinks__box__imagebox img {
  transform: scale(1.2);
}

.workslinks__box:hover .workslinks__box__tag__name {
  background-color: white;
}
