@use "../mixins" as mixin;

.workstitle {
  position: relative;
  @include mixin.xxl-lt {
    justify-content: center;
    margin: 40px 0;
    padding: 0;
  }
  @include mixin.sm {
    width: 70%;
    margin: 20px auto;
  }

  @include mixin.xs {
    width: 90%;
    margin: 20px auto;
  }

  &__container {
    // border: 1px solid red;
    padding-top: 40px;
    width: 100%;
    height: 180px;
    overflow: hidden;

    &__text {
      color: #ff879d;
      color: #c196e9;
      color: #ffaf87;
      color: #e3792d;
      color: var(--gray-3);

      font-family: var(--font-title);
      font-size: 98px;
      text-align: center;
      // font-weight: 600;
      line-height: 80px;
      text-align: center;
      @include mixin.sm {
        font-size: 30px;
        line-height: 60px;
      }

      @include mixin.xs {
        font-size: 30px;
        line-height: 55px;
      }
    }
  }
}
.svgBox {
  position: absolute;
}
