@use "../mixins" as mixin;

.workstitle {
  padding-left: 40px;
  display: flex;
  gap: 20px;
  @include mixin.xxl-lt {
    justify-content: center;
    margin: 40px 0;
    padding: 0;
  }
  &__ellipse {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid var(--gray-3);
    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 80px;
      font-size: 60px;
    }
  }
  &__container {
    height: 80px;
    width: 560px;
    border-radius: 35px;
    border: 1px solid var(--gray-3);
    background-color: #ff879d;

    &__text {
      font-size: 48px;
      font-weight: 600;
      line-height: 80px;
      text-align: center;
    }
  }
}
