@use "../anim";

.about {
  padding: 40px;

  &__container {
    padding: 40px;
    display: flex;
    gap: 180px;

    &__left {
      flex-grow: 1;
      margin-left: 80px;
      &__text {
        font-size: 22px;
        &__title {
          display: flex;
          font-size: 30px;
          padding: 10px 0;
          border-bottom: 2px solid var(--gray-1);
        }

        & p {
          padding: 20px 0;
        }
        &__link {
          padding: 20px 0;
          &:hover {
            @include anim.animation-line-after;
            cursor: pointer;
          }
        }
      }
    }
    &__right {
      &__cv {
        min-width: 600px;
        border: 1px solid var(--gray-1);
        // overflow: hidden;
        // border-radius: 10px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
