@use "../anim";

.home {
  padding: 40px 100px;

  &__content {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 100%;
  }

  &__intro {
    width: 230px;
    // height: 770px;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 15px;
    &__pic {
      margin: auto;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-size: 22px;
      font-weight: 500;
      padding-top: 10px;
    }
    &__position {
      font-size: 16px;
      font-weight: 500;
    }
    &__text {
      font-size: 14px;
      margin: 10px 0;
    }
    &__city {
      font-weight: 500;
    }
    &__contact {
      font-size: 14px;
    }
    &__socials {
      padding-top: 20px;
      display: flex;
      gap: 10px;
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: 1px solid;
        border-radius: 50%;
        padding: 12px;

        &:hover {
          cursor: pointer;
          background-color: var(--gray-2);
          color: var(--gray-3);
        }
      }
    }

    &__cv {
      font-weight: 500;
      text-align: center;
      margin-top: 20px;
      padding: 4px 0;
      border: 1px solid var(--gray-3);
      border-radius: 12px;
      &:hover {
        cursor: pointer;
        background-color: var(--gray-2);
        color: var(--gray-3);
      }
    }
  }

  &__works {
    flex-grow: 1;
    // background-color: white;
    // max-width: 1400px;

    &__tags {
      display: flex;
      font-size: 18px;
      line-height: 10px;
      margin-bottom: 40px;

      &__title {
        font-weight: 500;
        padding-right: 10px;
      }

      &__name {
        padding-left: 4px;
        cursor: pointer;
        & span.selected {
          color: var(--gray-3);
          border-bottom: 2px solid var(--secondary);
        }
      }
    }

    &__text {
      position: absolute;
      top: 0;
      left: 0;
      margin: 14px;
      z-index: 1;
      color: var(--gray-3);
      opacity: 0;
    }

    &__taglist {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      z-index: 1;
      &__tag {
        background-color: var(--secondary);
        padding: 1px 10px;
        border-radius: 12px;
      }
    }

    &__container {
      display: grid;
      justify-items: center;
      align-items: start;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 6px;
      grid-template-areas:
        "work-2 work-1 work-1 work-4"
        "work-2 work-3 work-3 .";
    }
  }

  .work {
    height: 350px;
    position: relative;
    cursor: pointer;
  }

  .home__works__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // filter: grayscale(100%);
  }

  .work-1 {
    grid-area: work-1;
  }

  .work-2 {
    grid-area: work-2;
    height: 700px;
  }

  .work-3 {
    grid-area: work-3;
  }

  .work-4 {
    grid-area: work-4;
  }

  .work:hover .home__works__text {
    opacity: 1;
  }

  .work:hover .home__works__taglist__tag {
    opacity: 0;
  }

  .work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--primary);
    opacity: 0.85;
    transition: height 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  }

  .work:hover::before {
    height: 100%;
  }

  .work:not(:hover)::before {
    height: 0;
  }

  .animation-line-after {
    @include anim.animation-line-after;
  }
}
