.main {
  position: relative;
  z-index: 0;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--gray-1);
  z-index: 1;
  animation-name: reduceHeight;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.over-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  background-color: white;
  animation-name: fadeOut;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes reduceHeight {
  0% {
    height: 100vh;
  }

  100% {
    height: 0vh;
  }
}

.over-displayed {
  display: none;
}
