:root {
  --primary: #fdff87;
  --secondary: #ffff00;
  --tertiary: rgb(240, 253, 29);
  --gray-1: #505050;
  --gray-2: #efefef;
  --gray-3: #3f3b37;
  --gray-3: #151313;
  --background: #e9e9e9;
  // --font-title: "rader", sans-serif;
  --font-title: "monument", sans-serif;
  // --font-title: "eiko", sans-serif;
  --font-family: "Poppins", sans-serif;
  --text-color: #1f1d1b;
}
