:root {
  --primary: #fdff87;
  --secondary: #ffff00;
  --tertiary: rgb(240, 253, 29);
  --gray-1: #505050;
  --gray-2: #efefef;
  --gray-3: #3f3b37;
  --font-title: "monument", sans-serif;
  --font-family: "Poppins", sans-serif;
  --text-color: #505050;
}
